<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>General</title>
        <title lang="de-DE">Allgemein</title>
        <input-field type="bool">
            <name>isDesignSystemAccessible</name>
            <label>Enable Design System page (/design-system)</label>
            <label lang="de-DE">Design-System-Seite aktivieren (/design-system)</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>
